<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
<title>Insert title here</title>
</head>
<body>
<div class=div1>
<H1>Django</H1>
<ul>
<li><a href="time">演示时间</a>&nbsp
<a href="time1">1</a>&nbsp
<a href="time1">2</a>&nbsp
<a href="time1">3</a>&nbsp
<a href="time1">4</a>
</li>
<li><a href="admin">演示站点管理</a></li>
<li><a href="list">演示显示数据库数据</a></li>
<li><a href="search">演示查询数据库</a></li>
<li><a href="pythonAjax">演示Ajax访问</a></li>
<li><a href="pythonJQuery">演示JQuery访问</a></li>
</ul>
</div>
</body>
</html>